@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap");

#home,
#about,
#services,
#contact,
#ibadah {
  scroll-margin-top: 60px;
  /* border: 1px solid #fbff00; */
}

#home {
  height: calc(100vh - 60px);
}
/* ===================================IMG================================== */
.home-section-img {
  background-image: url(background/altar.JPG);
  height: 100%;
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ==================================Overlay=================================== */
.overlay {
  background: linear-gradient(
    180deg,
    rgba(7, 19, 46, 0.8),
    rgba(2, 16, 44, 0.8)
  );
  height: 100%;
  /* border: 1px solid #fbff00; */
}

/* ==================================Content=================================== */
.content {
  height: 100%;
  /* border: 2px solid #fbff00; */
}

/* ===================================.home-content==================================== */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  /* border: 2px solid #fbff00; */
}

.home h1 {
  color: #ffffff;
  font-size: 200px;
  font-family: "Corinthia", cursive;
  margin-bottom: -40px;
}

.home h2 {
  color: #ffffff;
  font-size: 65px;
  margin-bottom: 50px;
}

.home p {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 2px;
}

/* ===================================tentang-content==================================== */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  /* border: 1px solid #fbff00; */
}

.about-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 35%;
  width: 100%;
  padding-top: 70px;
  /* border: 1px solid #fbff00; */
}

div .about-1 .text {
  text-align: center;
  padding: 20px;
  /* border: 1px solid #fbff00; */
}

div .about-1 .text h2 {
  font-family: "Corinthia", cursive;
  font-size: 90px;
  margin-bottom: 20px;
}

div .about-1 .text p {
  font-size: 20px;
  margin-bottom: 20px;
}
/* ===================================2==================================== */
.about-2 {
  display: flex;
  flex: 1 0 auto;
  /* border: 1px solid #fbff00; */
}

.about-2-left {
  flex: 1 0 auto;
  max-width: 50%;
  /* border: 1px solid #fbff00; */
}

.about-2-right {
  flex: 1 0 auto;
  max-width: 50%;
  /* border: 1px solid #fbff00; */
}

div .about-2 .text {
  text-align: center;
  padding: 100px;
}

div .about-2 .text h2 {
  font-family: "Corinthia", cursive;
  font-size: 90px;
  margin-bottom: 20px;
}

div .about-2 .text p {
  font-size: 20px;
  margin-bottom: 20px;
}
/* ===================================3==================================== */
.about-3 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex: 1 0 auto;
  width: 100%;
  margin-top: 70px;
  gap: 50px;
  /* border: 1px solid #fbff00; */
}

.about-3 > div.header {
  grid-column: span 4;
  font-family: "Corinthia", cursive;
  font-size: 90px;
  /* border: 1px solid #fbff00; */
}

.about-3 > div.gembala {
  font-size: 20px;
  grid-column: span 4;
  /* border: 1px solid #fbff00; */
}

.about-3 > div.content {
  font-size: 20px;
  /* border: 1px solid #fbff00; */
}

.about-3 > div.content h2,
.about-3 > div.gembala h2 {
  font-size: 30px;
  margin-bottom: 7px;
  /* border: 1px solid #fbff00; */
}
.about-3 > div.content p,
.about-3 > div.gembala p {
  font-size: 20px;
  margin-bottom: 20px;
}

/* ===================================Ibadah==================================== */

/* ===================================Media==================================== */
@media (max-width: 1326px) {
  .about-3 {
    display: grid;
    grid-template-columns: auto auto;
    flex: 1 0 auto;
    width: 100%;
    margin-top: 70px;
    gap: 50px;
    /* border: 1px solid #fbff00; */
  }
  .about-3 > div.header {
    grid-column: span 2;
    font-family: "Corinthia", cursive;
    font-size: 90px;
    /* border: 1px solid #fbff00; */
  }
  .about-3 > div.gembala {
    font-size: 20px;
    grid-column: span 2;
    /* border: 1px solid #fbff00; */
  }
}
